<div>
    <div class="pull-left">
        <button class="btn btn-success"  ng-if="$root.payload.sub" ng-click="open(null, null, 'Add')">Nouvelle question</button>
    </div>
    <div class="pull-right">
        Recherche: <input ng-model="search" placeholder="Recherche globale" />
    </div>
</div>
<table class="table table-hover">
    <thead class="pointer">
        <th ng-click="$ctrl.sort('id')"> #
            <span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='id'" ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span></th>
        <th ng-click="$ctrl.sort('title')"> Questions
            <span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='title'" ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span></th>
        <th ng-click="$ctrl.sort('author')"> Auteur
            <span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='author'" ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span></th>
        <th ng-click="$ctrl.sort('created')"> Créé le
            <span class="glyphicon sort-icon" ng-show="$ctrl.sortKey=='created'" ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span></th>
        <th> Réponse</th>
        <th> </th>
        <th> </th>
    </thead>
    <tr dir-paginate="item in $ctrl.items.posts | filter: search|orderBy:$ctrl.sortKey:$ctrl.reverse|itemsPerPage:10">
        <td>{{ item.id }}</td>
        <td><a ng-href="#!/forum/{{item.id}}">{{ item.title }}</a></td>
        <td>{{ item.user.username }}</td>
        <td>{{ item.created  | date:'EEEE dd MMMM yyyy \'à\' HH:mm'}}</td>
        <td>{{ item.comments.length }}</td>
        <td class="pointer"><a  ng-if="$root.payload.sub === item.user_id || $root.payload.role === 'admin'"
               ng-click="open(item.id, null, 'Edit')" title="Modifier">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
        <td class="pointer"><a ng-if="$root.payload.sub === item.user_id || $root.payload.role === 'admin'"
               ng-click="open(item.id, null, 'Remove')" title="Supprimer">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
        </tr>
</table>
<dir-pagination-controls
        max-size="10"
        direction-links="true"
        boundary-links="true" >
</dir-pagination-controls>