<form class="form-inline"  ng-submit="search(searchTerm, searchTerm1, searchTerm2)" role="form">
    <div class="form-group">
        <label class="sr-only" for="search">Recherche</label>
        <input type="text" size="55" class="form-control" ng-model="searchTerm" id="search" name="search" placeholder="Critères de recherche...">
    </div>
     <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="searchTerm1"  ng-true-value="'YES'" ng-false-value="'NO'" id="query" name="query"> Dans les questions
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="searchTerm2" ng-true-value="'YES'" ng-false-value="'NO'" id="answer" name="answer"> Dans les réponses
        </label>
    </div>
    <button type="submit" class="btn btn-default">Rechercher</button>
</form>