<div class="row">
    <div class="col-md-12">
        <h1>Résultat de la recherche</h1>
    </div>
    <div class="col-md-12" ng-if="results.post.length + results.comment.length === 0">
        <p>Aucun résultats remontés selon les critères de recherche</p>
    </div>
    <div class="col-md-12" ng-if="results.post.length">
        <h4><ng-pluralize count="results.post.length "
                    when="{'one': '1 résultat trouvé dans les questions.',
                            'other': '{} résultats trouvés dans les questions.'}"></ng-pluralize></h4>
        <div class="col-md-12" ng-repeat="item in results.post">
            <p class="query">Q : <span ng-bind-html="item.title | highlight : results.search"></span></p>
            <p ng-bind-html="item.body | highlight : results.search"></p>
        </div>
    </div>
    <div class="col-md-12" ng-if="results.comment.length">
        <h4><ng-pluralize count="results.comment.length "
                      when="{'one': '1 résultat trouvé dans les réponses.',
                            'other': '{} résultats trouvés dans les réponses.'}"></ng-pluralize></h4>
        <div class="col-md-12" ng-repeat="item in results.comment">
            <h5>Q : {{ item.title }}</h5>
            <p class="answer">R : <span class="answer" ng-bind-html="item._matchingData.Comments.message | highlight : results.search"></span></p>
        </div>
    </div>
</div>