<div class="row">
    <div class="pull-left">
        <button class="btn btn-success btn-xs" ng-click="open($ctrl.item.post.id, null, 'Answer')">Répondre à la question</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>{{ $ctrl.item.post.title }}</h1>
    </div>
    <div class="col-md-4">
        <h6><a ng-if="$root.payload.sub === $ctrl.item.post.user_id || $root.payload.role === 'admin'"
               ng-click="open($ctrl.item.post.id, null, 'Edit')" title="Modifier" class="pointer">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            <a ng-if="$root.payload.sub === $ctrl.item.post.user_id || $root.payload.role === 'admin'"
               ng-click="open($ctrl.item.post.id, null, 'Remove')" title="Supprimer" class="pointer">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            Posté par {{ $ctrl.item.post.user.username}} le {{ $ctrl.item.post.created  | date:'EEEE dd MMMM yyyy \'à\' HH:mm'}}</h6>
    </div>
    <div class="col-md-12">
        <p>{{ $ctrl.item.post.body }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-if="$ctrl.item.post.comments.length === 0">
        <p>Il n'a pas encore de commentaires pour le moment.</p>
    </div>
    <div class="col-md-12" dir-paginate="comment in $ctrl.item.post.comments | orderBy: '-created' | itemsPerPage:10">
        <h6><a ng-if="$root.payload.sub === comment.user_id || $root.payload.role === 'admin'"
           ng-click="open($ctrl.item.post.id, comment.id, 'EditAnswer')" title="Modifier" class="pointer">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
        <a ng-if="$root.payload.sub === comment.user_id || $root.payload.role === 'admin'"
           ng-click="open($ctrl.item.post.id, comment.id, 'RemoveAnswer')" title="Supprimer" class="pointer">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
            Posté par {{ comment.user.username}} le {{ comment.created  | date:'EEEE dd MMMM yyyy \'à\' HH:mm'}}</h6>
        <p>{{ comment.message }}</p>
    </div>

    <dir-pagination-controls
            max-size="10"
            direction-links="true"
            boundary-links="true" >
    </dir-pagination-controls>
</div>
<a class="btn btn-default btn-xs" ng-href="#" role="button">Retour Forum</a>

