<div class="modal-body">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="lead">Modification d'une question</span></div>
        <flash-message duration="200" show-close="true"></flash-message>
        <div class="form-group panel-body">
            <!-- Formulaire pour l'ajout et la modification d'une question -->
            <form name="postForm" class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2" for="title"> Sujet:</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="item.post.title" id="title" name="title" class="username form-control input-sm" placeholder="Votre sujet..." ng-required="true" ng-minlength="3"/>
                            <div class="form-error" ng-show="postForm.$dirty">
                                <span ng-show="postForm.title.$error.required">Ce champ est obligatoire <br/></span>
                                <span ng-show="postForm.title.$error.minlength">Ce champ doit avoir au minimum 3 caractères <br/></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2" for="body"> Question:</label>
                        <div class="col-md-10">
                            <textarea rows="15" ng-model="item.post.body" id="body" name="body" class="form-control input-sm" placeholder="Votre question..." ng-required="true"  ng-minlength="20"></textarea>
                            <div class="form-error" ng-show="postForm.$dirty">
                                <span ng-show="postForm.body.$error.required">Ce champ est obligatoire <br/></span>
                                <span ng-show="postForm.body.$error.minlength">Ce champ doit avoir au minimum 20 caractpres. <br/></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-4 pull-right">
                            <!-- Boutton pour l'ajout de la question -->
                            <button type="button" ng-click="ok()" class="btn btn-primary btn-sm" ng-disabled="userForm.$invalid">Modifier</button>
                            <!-- Boutton pour l'annulation de la question -->
                            <button type="button" ng-click="cancel()" class="btn btn-warning btn-sm">Annuler</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>