<div class="modal-body">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="lead">Modification de la réponse</span></div>
        <flash-message duration="200" show-close="true"></flash-message>
        <div class="form-group panel-body">
            <!-- Formulaire pour l'ajout d'une réponse -->
            <form name="commentForm" class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2" for="message"> Réponse:</label>
                        <div class="col-md-10">
                            <textarea rows="15" ng-model="item.comment.message" id="message" name="message" class="form-control input-sm" placeholder="Ajouter votre réponse ici..." ng-required="true"  ng-minlength="3"></textarea>
                            <div class="form-error" ng-show="commentForm.$dirty">
                                <span ng-show="commentForm.message.$error.required">Ce champ est obligatoire <br/></span>
                                <span ng-show="commentForm.message.$error.minlength">Ce champ doit avoir au minimu 3 caractères <br/></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-4 pull-right">
                            <!-- Boutton pour sauvegardé la réponse -->
                            <button type="button" ng-click="ok()" class="btn btn-primary btn-sm" ng-disabled="userForm.$invalid">Mdifier</button>
                            <!-- Boutton pour l'annulation de la réponse -->
                            <button type="button" ng-click="cancel()" class="btn btn-warning btn-sm">Annuler</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>