body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.dropdown-menu {
    min-width: 280px;
    line-height: 1.42857143;
    padding: 5px;
}
.dropdown-menu > li > a {
    padding: 5px;
}
.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}
.pointer {
    cursor: pointer;
}
.highlighted {
    background: yellow
}
.query {
    size: 14px;
    font-weight: 500;
}
.answer {
    size: 14px;
    margin-left: 5px;
}
