<div class="modal-body">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="lead">Créatione d'un nouvel utilisateur</span></div>
        <div class="form-group panel-body">
            <!-- Formulaire pour l'ajout d'un utilisateur -->
            <form name="userForm" class="form-horizontal">
                <input type="hidden" ng-model="user.user.id" />
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2" for="username"> Nom:</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="user.username" id="username" name="username" class="username form-control input-sm" placeholder="Votre nom d'utilisateur..." ng-required="true" ng-minlength="3"/>
                            <div  class="text-danger" ng-show="userForm.$dirty">
                                <span ng-show="userForm.username.$error.required">Ce champ est obligatoire!<br/></span>
                                <span ng-show="userForm.username.$error.minlength">Ce champ doit avoir au moins 3 caractères!<br/></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2" for="email"> eMail:</label>
                        <div class="col-md-7">
                            <input type="email" ng-model="user.email" id="email" name="email" class="form-control input-sm" placeholder="Votre eMail..." ng-required="true"/>
                            <div class="small text-danger" ng-show="userForm.$dirty">
                                <span ng-show="userForm.email.$error.uniqueEmail">{{userForm.email.$error}}Cet adresse mail est déjà utilisée!<br/></span>
                                <span ng-show="userForm.email.$error.required">Ce champ est obligatoire!<br/></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2" for="password"> Mot de passe:</label>
                        <div class="col-md-7">
                            <input type="password" ng-model="user.password" id="password" name="password" class="email form-control input-sm" placeholder="Votre mot de passe" ng-required="true" ng-minlength="8"/>
                            <div  class="text-danger" ng-show="userForm.$dirty">
                                <span ng-show="userForm.password.$error.required">Ce champ est obligatoire <br/></span>
                                <span ng-show="userForm.password.$error.minlength">Ce champ doit avoir au moins 8 catactères. <br/></span>
                                <span ng-show="userForm.password.$invalid">Ce champ n'est pas valide <br/></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-4 pull-right">
                            <!-- Boutton la création de l'utilisateur -->
                            <button type="button" ng-click="ok()" class="btn btn-primary btn-sm" ng-disabled="userForm.$invalid">Créer</button>
                            <!-- Boutton l'annulation de la création de l'utilisateur -->
                            <button type="button" ng-click="cancel()" class="btn btn-warning btn-sm">Annuler</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>