<ul class="nav navbar-nav">
    <li class="active" ng-if="!$root.payload"><a ng-click="register()" class="pointer">S'inscrire</a></li>
</ul>
<form class="navbar-form navbar-right" role="form" ng-if="!$root.payload">
    <div class="form-group">
        <input type="text" ng-model="user.username" id="username" name="username" placeholder="Utilisateur" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" ng-model="user.password" id="password" name="password" placeholder="Mot de passe" class="form-control">
    </div>
    <button type="submit" class="btn btn-success" ng-click="login()">Connexion</button>
</form>
<ul class="nav navbar-nav navbar-right" ng-if="$root.payload">
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Bienvenue {{ $root.payload.name }} ! <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>Expiration: {{ $root.expirationDate | date:'dd MMMM yyyy \'à\' HH:mm' }}</li>
            <li>Rôle : {{ $root.payload.role }}</li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logout()" class="pointer">Déconnexion </a></li>
        </ul>
    </li>
</ul>